@using System.Security.Claims
@model APortfolio.DAL.Entities.Portfolio

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>  <b>@Html.DisplayFor(model => model.Title)</b></h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Username)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
<br />
@if (User.Identity.IsAuthenticated && Model.UserId == User.FindFirstValue(ClaimTypes.NameIdentifier))
{
<div>
   
    <h4>Add New Project</h4>
        <form asp-action="Create" asp-controller="Project" method="post" enctype="multipart/form-data">
        <input type="hidden" name="PortfolioId" value="@Model.Id" />
        <div>
            <label class="col-sm-2">Project Title:</label>
            <input type="text" name="Title" required />
            
        </div>
        <br />
        <div>
            <label class="col-sm-2">Description:</label>
            <textarea name="Description"></textarea>
        </div>
        <div>
            <label class="col-sm-2">Image:</label>
            <input type="file" name="imageFile" />
        </div>
        <br />
        <button type="submit">Add Project</button>
    </form>
</div>
}
<br />
<div>
    <h3>Projects</h3>
    @if (Model.Projects != null && Model.Projects.Any())
    {
    <div class="project-list row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        @foreach (var project in Model.Projects)
        {
        <div class="col">
            <div class="card h-100 shadow-sm">
                @if (!string.IsNullOrEmpty(project.ImageUrl))
                {
                    <a asp-controller="Project" asp-action="Details" asp-route-id="@project.Id">
                        <img src="@project.ImageUrl" class="card-img-top mx-auto d-block" alt="@project.Title" width="300" />
                    </a>
                }
                <div class="card-body">
                    <h5 class="card-title">@project.Title</h5>
                    <p class="card-text">@project.Description</p>
                    <p class="card-text">
                        <small class="text-muted">Created on: @project.CreatedDate.ToShortDateString()</small>
                    </p>
                </div>
                <div class="card-footer text-center">
                    <a asp-controller="Project" asp-action="Details" asp-route-id="@project.Id" class="btn btn-primary btn-sm">
                        View Details
                    </a>
                    @if (User.Identity.IsAuthenticated && User.FindFirstValue(ClaimTypes.NameIdentifier) == Model.UserId)
                    {
                        <form asp-controller="Project" asp-action="Delete" asp-route-id="@project.Id" method="post" style="display: inline;">
                            <button 
                                type="submit" 
                                class="btn btn-danger btn-sm">Delete
                            </button>
                        </form>
                    }
                </div>
            </div>
        </div>
        }
    </div>
    }
    else
    {
    <p>No projects available for this portfolio.</p>
    }
</div>
